<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title>
        {{'buscador' | translate}}
      </ion-title>
    </ion-item>
    <ion-buttons slot="end">
      <ion-item lines="none">
        <ion-img src="../assets/icon/spain.png"></ion-img>&nbsp;
        <ion-toggle [(ngModel)]="selectedLanguage"  (ionChange)="changeLanguage()"></ion-toggle>
        &nbsp;<ion-img src="../assets/icon/english.png"></ion-img>
      </ion-item>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="obtieneScrollPos($event.detail.scrollTop)"
  #IonContent>
  <ion-fab *ngIf="goBack" (click)="irHaciaArriba()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-item>
    <ion-label position="stacked"> {{'raza' | translate}}:</ion-label>
    <ion-select interface="action-sheet" okText="Aceptar" cancelText="Cancelar" (ionChange)="getPerros($event)"
      [(ngModel)]="value1">
      <ion-select-option *ngFor="let dog of dogs" [value]="dog">
        {{dog}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf=show>
    <ion-label position="stacked"> {{'tipo' | translate}}:</ion-label>
    <ion-select interface="action-sheet" okText="Aceptar" cancelText="Cancelar" (ionChange)="getTipos($event)"
      [(ngModel)]="value2">
      <ion-select-option *ngFor="let tipo of tipos" [value]="tipo">
        {{tipo}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-grid>
      <ion-row>
        <ion-col sizeLg="3" sizeMd="3" sizeXs="6" *ngFor="let item of imageDogs">
          <ion-img [src]="item"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>